<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bird Talk</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        {% if login %}
        <a class="navbar-brand" href="/l/{{ key }}">Bird Talk</a>
        {% else %}
        <a class="navbar-brand" href="/">Bird Talk</a>
        {% endif %}
        <form action="/login_page/">
            <button class="btn btn-info mt-3" type="submit">Login</button>
        </form>
        {% if login ==  False or not login%}
        <form action="/sign-up/">
            <button class="btn btn-outline-success mt-3" type="submit">Create user</button>
        </form>
        {% endif %}
        {% if login == True %}
        <form action="add-friends-page/">
            <button class="btn btn-info mt-3 af" type="submit">Add friends</button>
        </form>
        {% endif %}

    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>