
{% extends 'base.html' %}

{% block not_login %} {{ not_login }} {% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!--
    <script>
    var append_increment = 0;
    setInterval(function() {
        $.ajax({
            type: "GET",
            url: '/',  // URL to your view that serves new info
            // data: {'append_increment': append_increment}
        })
        .done(function(response) {
            $('.list').append(response);
            //append_increment += 10;
        });
    }, 1000)
</script>
-->

<style type="text/css">
    body{
        background-color: #717fa2db;
    }
    .name{
        color: white;
        text-align: center;
        font-size: 60px;
        margin-top: auto;
    }
    
    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        padding-left: 32px;
        height: 50px;
        width: 50%;
        margin-bottom: 20px;
        margin-top: 20px; 
        cursor: pointer;
    }
    .container:hover{
        background-color: #00000080;
        color: white;
        transition: all 0.5s;
    }
    a:hover{
        text-decoration: none;
    }
    #e{
        color: black;
    }
</style>
{% if user.userName %}
    <div class="name">Hello, {{ user.userName }}</div>
{% endif %}

{% for friend in friends %}
<li class="list-group-item list-group-item-dark container" onclick="toTalk('{{friend.userAccount}}')">
    <!--
       <form action="/l/{{ value }}/t/{{ friend.userAccount }}">
        <div id='friend'>{{ friend.userName }}</div>
    </form> 
    -->
    <div style="width:0px;height:0px;">{{ friend.userName }}</div>
    <div class="float-right">
        <form action="/l/{{ key }}/del/{{ friend.userAccount }}">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
    </div>
    
</li>

{% endfor %}

<script type="text/javascript">
    setTimeout(function(){
        $(".name").empty();
    }, 3000);
    function toTalk(acc){
        window.location.replace("/l/{{key}}/t/"+acc);
    }
</script>

{% endblock %}